body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  text-align: center;
  border-bottom: 1px solid seashell;
  background-color: black;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}


h2, h3, h4 {
  margin: 0;
  padding: 10px;
}


header img {
  height: 50px;
  margin: 10px;
}

header nav {
  display: block;
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
}

header nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  text-decoration: underline;
  color: seashell;
}

.content {
  width: 1200px;
  margin: auto;
  padding-top: 69px;
  opacity: 0.9;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

#mission .info {
  display: block;
  margin: auto;
  background-color: black;
  width: 100%;
}

#featured {
  display: block;
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

#featured .teas img {
  width: 300px;
  height: 200px;
  margin: 10px 10px 5px 10px;
}

#featured .tea {
  padding-bottom: 10px;
}

#featured .teas p {
  margin: 0px;
  padding: 5px;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .container {
  margin: auto;
  width: 1100px;
}

.location {
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  height: 200px;
}

footer {
  padding-left: 20px;
  text-align: left;
}
